<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Password Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Password Generator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input [(ngModel)]="numWords" placeholder="Number of words" type="number"></ion-input>
    <ion-input [(ngModel)]="description" placeholder="Description"></ion-input>
    <ion-input [(ngModel)]="password" placeholder="Password"></ion-input>
    <ion-button [disabled]="!passwordService.words.length" (click)="generatePassword()">Generate Password</ion-button>
    <ion-button [disabled]="!password" (click)="savePassword()">Save Password</ion-button>
    <ion-list>
      <ion-list-header>
        Saved Passwords
      </ion-list-header>
      <ion-item *ngIf="!passwordService.savedPasswords.length" lines="none">No saved passwords</ion-item>
      <ion-item *ngFor="let item of passwordService.savedPasswords; let i = index">
        <ion-label><span *ngIf="item.description">{{item.description}}: </span>{{item.password}}</ion-label>
        <ion-button slot="end" fill="clear" (click)="copyPassword(item.password)">
          Copy
        </ion-button>
        <ion-button slot="end" fill="clear" color="danger" (click)="passwordService.remove(i)">
          Delete
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
